:root {
  --white: #fff;
  --off-white: #f7f8f8;
  --primary: #373f68;
  --primary-tint: #3a4374;
  --secondary: #4661e6;
  --secondary-tint: #62bcfa;
  --tertiary: #ad1fea;
  --tertiary-tint: #c75af6;
  --grey: #647196;
  --gray-lighter: #656ea3;
  --danger: #e98888;
  --danger-tint: #f49f85;
  --layer-darker: #7c91f9;
  --layer-dark: #cfd7ff;
  --layer-base: #f2f4ff;
  --layer-light: #f2f4fe;
  --layer-lightest: #f7f8fd;
  --red: #d73737;

  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  --br-radius: 10px;
}

// $colors: (
//   purple: #5973fe;
//   green: #3fb68b;
//   yellow: #ffb648;
//   teal: #00ddc6;
//   bronze: #ba6c38;
//   silver: #c1c1c1;
//   gold: #ffb846;
//   platinum: #7af6c2;
//   diamond: #915eff;
// );
