.navbar {
  width: 100%;
  height: 72px;

  padding: 14px 16px;

  border-radius: 10px;
  background: #373f68;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  display: flex;
  gap: 16px;
  width: fit-content;
  align-items: center;
}

.navIcon {
  height: fit-content;
  width: fit-content;
}

.suggestionCount {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.25px;
  margin: 0 20px 0 0;
}

.dropdownBtnBox {
  display: flex;
  color: #f2f4fe;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  gap: 5px;
}

.dropdownBtnBox button {
  display: flex;
  gap: 9px;
  align-items: center;

  font-weight: 700;
}

.navBtn {
  width: 158px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ad1fea;

  color: #f2f4fe;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

  transition: background 0.3s ease;
}

.navBtn:hover {
  background: #c75af6;
}

@media screen and (max-width: 650px) {
  .navbar {
    border-radius: 0px;
    padding: 26px 24px;
    /* position: fixed;
    top: 72;
    z-index: 2; */
    height: 60px;
  }

  .navIcon {
    display: none;
  }

  .suggestionCount {
    display: none;
  }
}
